html,
body {
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    height: calc(100vh);
    background-color: rgba(0, 0, 0, 0.5);
}

/* ä¸»box */
.container {
    width: 100%;
    height: 100%;
}


.demo-list {
    /* margin-right: 360px;
    padding: 33px 57px 17px; */
}

.demo-list ul {
    white-space: nowrap;
    list-style: none;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.demo-list ul li {
    position: relative;
    /* padding: 0 0 18px 42px; */
    padding: 0 12px 10px 22px;
    display: inline-block;
}

.demo-list ul input {
    position: absolute;
    top: 4px;
    left: 0;
}

.demo-list ul .icheckbox_square-blue,
.demo-list ul .iradio_square-blue {
    position: absolute;
    top: -1px;
    left: 0;
}

.filter-list-box {
    clear: both;
    height: 50px;
    margin: 10px 0;
}

.filter-list-item-title {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
    width: 75px;
    font-size: 14px;
}

.filter-list-item-box {
    float: left;
}

.filter-list-item {
    float: left;
}

.filter-list {
    margin-left: 30px;
    padding-top: 30px;
    /* width: 554px; */
    height: 431px;
    position: absolute;
    /* text-align: center; */
}

.ztree {}

.camera-other-icon {
    background-image: url(../../image/camera-other.png);
    width: 40px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
}

.filter-input {
    height: 30px;
    display: inline-block;
    color: white;
    vertical-align: middle;
    /* border: none; */
    border: solid 1px #30b8ff;
    padding: 0;
    text-align: center;
    background: none;
}

.camera-tree {
    float: left;
}

.noShow {
    display: none;
}

.filter-list-item-label {
    margin-left: 5px;
}

.timeSplitSpan {
    margin: 0 5px;
    vertical-align: middle;
}

.filter-select {
    width: 153px;
    height: 30px;
    color: white;
    background: none;
    border-color: #30b8ff;
}

.filter-select>option {
    background: none;
}

.ui-selectmenu-button.ui-button {
    width: 153px !important;
}

.filter-capture-box {
    width: 300px;
    height: 334px;
    float: left;
    margin-right: 30px;
}

.filter-capture-file-upload {
    width: 300px;
    height: 334px;
    background-color: rgba(48, 184, 255, 0.4);
    border: solid 1px rgba(48, 184, 255, 0.4);
    cursor: pointer;
    color: gray;
    text-align: center;
    line-height: 334px;
    /* opacity: 0.4; */
}

.filter-btn-box {
    clear: both;
    width: 360px;
    vertical-align: middle;
    position: absolute;
    top: 410px;
}

.filter-btn {
    float: left;
    width: 120px;
    height: 34px;
    background-color: #2691eb;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    line-height: 34px;
    cursor: pointer;
    margin: 0 30px;
}

.filter-capture-file-upload input {
    opacity: 0;
    /* position: absolute;
    top: -1px;
    left: -1px;
    width: 100%; */
    width: 300px;
    height: 334px;
    display: block;
    cursor: pointer;
}

.glass {
    background: none !important;
    border: none !important;
}

/* .glass-box>.ui-state-default,
.glass-box>.ui-widget-content .ui-state-default,
.glass-box>.ui-widget-header .ui-state-default,
.glass-box>.ui-button,
.glass-box>.ui-button.ui-state-disabled:hover,
.glass-box>.ui-button.ui-state-disabled:active {
    background: none;
} */


/* .glass-box>.ui-icon-background,
.ui-state-active .ui-icon-background {
    background: none;
    border: solid 3px #30b8ff;
}

.glass-box>.ui-icon-background,
.ui-icon-background {
    background: none;
    border: solid 3px #30b8ff;
}

.glass-box>.ui-checkboxradio-radio-label .ui-icon-background {
    width: 16px;
    height: 16px;
    border-radius: 1em;
    overflow: visible;
    border: solid 1px #30b8ff;
} */