html,
body {
    margin: 0;
    padding: 0;
    color: white;
    /* width: 100%;
    height: calc(100vh); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background: url(../../image/home_bg.jpg) no-repeat; */
    font-family: MicrosoftYaHei;
}

/* ä¸»box */
.container {
    /* margin-top: 20px; */
    /* width: 100%;
    height: calc(100% - 20px); */
    position: absolute;
}

.floatLeft {
    float: left;
}

.clearBoth {
    clear: both;
}


.content-box {
    margin: 10px;
    width: calc(100% - 20px);
    /* width: calc(100% - 20px);
    height: calc(100% - 70px); */
}

.content-match-box {
    height: 248px;
}

.content-source-image {
    width: 256px;
    height: 248px;
    background-color: #30b8ff;
}

.content-source-image-title {
    text-align: center;
    width: 256px;
    text-align: center;
    margin-top: 5px;
}

.content-target-box {
    margin-left: 20px;
    width: calc(100% - 276px);
}

.content-target-title-box {
    font-size: 14px;
    color: #30b8ff;
    line-height: 19px;
    letter-spacing: 1px;
    margin-left: 7px;
}

.content-target-data-box {
    width: 100%;

}


.content-target-data-item-box {
    width: 270px;
    height: 310px;
    border: solid 1px #30b8ff;
    margin: 10px;
    cursor: pointer;
}



.content-target-data-item-image-box {
    margin: 7px;
    width: 256px;
    height: 248px;
    background-color: #30b8ff;
    margin: 0 10px;
}

.content-target-data-item-image {
    width: 100%;
    height: 100%;
}

.content-target-data-item-title-box {
    margin: 7px;
}

.camera-detail-box {
    float: left;
}

.camera-area-box {}

.camera-area {
    margin-right: 10px;
}

.camera-area-image {
    width: 12px;
    height: 14px;
    vertical-align: middle;
    line-height: 21px;
}

.camera-area-content {
    height: 12px;
    font-size: 12px;
    color: #30b8ff;
    font-size: 12px;
}

.camera-time-box {}

.camera-time {
    margin-right: 10px;
}

.camera-time-image {
    width: 12px;
    height: 12px;
}

.camera-time-content {
    height: 10px;
    font-size: 12px;
    color: #30b8ff;
}

.camera-match-box-container {
    /* float: right; */
    width: 61px;
    height: 42px;
    vertical-align: middle;
    text-align: center;
    margin: 103px 10px;
    /* line-height: 42px; */

}

.camera-match-box {
    width: 61px;
    /* height: 42px; */
    /* float: right; */
    background: url(../../image/match.png) no-repeat;
    text-align: center;
    /* line-height: 22px; */
    margin: 10.5px 0;
}

.camera-match-title {
    /* line-height: 42px; */
}

.large {
    font-size: 16px;
    letter-spacing: 2px;
}

.small {
    font-size: 12px;
    letter-spacing: 1px;
}



.content-detail {
    margin-top: 30px;
}

.camera-title {
    width: 67px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 14px;
    display: inline-block;
}

.camera-time-data {
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 14px;
}

.camera-data {
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 14px;
}

.low-warning-box {
    margin-top: 30px;
}

.content-btn-box {
    margin-top: 104px;

}

.tool-btn {
    height: 36px;
    background-image: linear-gradient(0deg,
            #0063de 0%,
            #4f95ff 100%),
        linear-gradient(#15aaff,
            #15aaff);
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
    margin: 0 15px;
    cursor: pointer;
}

.export-btn {
    width: 80px;
    margin-left: 114px;
}

.search-btn {
    width: 120px;
}

.page-btn {
    width: 80px;
    height: 36px;
    background-color: #378fd1;
    border-radius: 18px;
    text-align: center;
    line-height: 36px;
    margin: 0 15px;
    cursor: pointer;
}

.pre-btn {
    margin-left: 25px;
}